In [75]:
import pandas as pd

In [125]:
url='https://drive.google.com/file/d/1-4YpXkd2kIOM5viSRw8g7oOQm8sicciB/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
y_train = pd.read_csv(url, index_col=0)

In [126]:
df = pd.read_csv("weather.csv")

In [127]:
df["timestamp"] = df[["timestamp"]].apply(lambda x: f"{x[0][0:4]}-{x[0][4:6]}-{x[0][6:8]}", axis=1)

In [128]:
# df[["timestamp"]].apply(lambda x: f"{x[0][0:4]}-{x[0][4:6]}-{x[0][6:8]}", axis=1)
df = df.groupby("timestamp").mean()
df = df[df.index >= "2009-12-28"]

In [129]:
fitted_df = pd.DataFrame(df.iloc[0:7].sum() / 7, columns=[f"{df.index[0]}/{df.index[6]}"]).transpose()
for i in range(7, len(df.index), 7):
    fitted_df = pd.concat([fitted_df, pd.DataFrame(df.iloc[i:i + 7].sum() / 7, columns=[f"{df.index[i]}/{df.index[i + 6]}"]).transpose()])

In [131]:
y_train = pd.concat([y_train, fitted_df.iloc[0:len(y_train.index)]], axis=1)
# [["Temperature", "Relative Humidity", "Wind Speed", "Wind Direction"]]

In [134]:
y_train.index.name = "year_weeks"
train = y_train.reset_index()
melted_train = pd.melt(train, id_vars=["year_weeks", "Temperature", "Relative Humidity", "Wind Speed", "Wind Direction"], var_name="City", value_name="Weight")

In [135]:
melted_train

,year_weeks,Temperature,Relative Humidity,Wind Speed,Wind Direction,City,Weight
0,2009-12-28/2010-01-03,4.735826,81.244048,14.335161,192.205695,other_יהודה ושומרון,0.0
1,2010-01-04/2010-01-10,-1.985662,83.482143,11.878270,215.700145,other_יהודה ושומרון,0.0
2,2010-01-11/2010-01-17,1.031541,85.232143,12.505648,197.820734,other_יהודה ושומרון,0.0
3,2010-01-18/2010-01-24,2.734993,86.166667,7.602604,167.545108,other_יהודה ושומרון,0.0
4,2010-01-25/2010-01-31,0.060648,80.279762,22.420379,225.083552,other_יהודה ושומרון,0.0
...,...,...,...,...,...,...,...
98507,2019-12-09/2019-12-15,6.024160,73.047619,22.703381,228.214744,תפוחים_מחוז תל אביב,0.0
98508,2019-12-16/2019-12-22,8.216481,76.291667,15.119218,150.711087,תפוחים_מחוז תל אביב,0.0
98509,2019-12-23/2019-12-29,5.708445,78.017857,16.696934,212.859182,תפוחים_מחוז תל אביב,0.0
98510,2019-12-30/2020-01-05,4.560231,73.339286,7.786980,174.625049,תפוחים_מחוז תל אביב,0.0
98511,2020-01-06/2020-01-12,5.954100,74.779762,8.778805,176.312336,תפוחים_מחוז תל אביב,0.0